@use '@/styles/_variables' as *;

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--text-color);
  font-family: 'Karla', sans-serif;

  &__back-button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color);
    background: none;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 5px solid var(--character-image-border-color);
    object-fit: cover;
    margin-bottom: 16px;
  }

  &__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 32px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color-secondary);
    margin-bottom: 24px;
  }

  &__list {
    width: 413px;
    max-width: 100%;
  }

  &__list-item {
    padding: 9px 16px;
    border-bottom: 1px solid var(--character-list-item-border-color);
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__list-item-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: var(--text-color);
  }

  &__list-item-value {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: var(--text-color-tertiary);
  }

  &__error {
    color: red;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
  }
}
