.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    animation: spin 2s linear infinite;
  }

  &__text {
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #212121;
  }

  &--large {
    .loader__image {
      width: 475px;
      height: 465px;
    }
  }

  &--small {
    .loader__image {
      width: 103px;
      height: 101px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}