.selector {
  position: relative;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  background-color: var(--input-background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color-tertiary);
  cursor: pointer;

  &_large {
    height: 55.58px;
  }

  &_small {
    height: 21px;
    font-size: 14px;

    .selector__header {
      padding: 0 5px;
    }

    .selector__option {
      padding: 5px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0 14px;
    height: 100%;

    span {
      display: flex;
      align-items: center;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    z-index: 1;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;

    &:hover {
      background-color: var(--selector-hover-background-color);
    }
  }
}
