@use '@/styles/variables' as *;

.card {
  height: 100%;
  font-family: Roboto, sans-serif;
  display: flex;
  background-color: $color-background;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 7px;
  position: relative;

  &__icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
  }

  &__icon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }

  &:hover &__icon {
    opacity: 1;
  }

  &_edit &__icon {
    opacity: 1;
  }

  &__image {
    width: 240px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
  }

  &__info {
    padding: 7px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    max-width: 170px;

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 7px;
  }

  &__value {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &_interactive {
      overflow: visible;
    }
  }

  &__status {
    display: flex;
    align-items: center;
  }

  &_edit {
    .card__name,
    .card__value {
      width: fit-content;
    }
  }
}
