@use '@/styles/_variables' as *;

.header {
  background-color: $color-header-background;
  box-shadow: -2px 0px 8px 2px $color-shadow;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    max-width: 1440px;
    padding: 0 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
