@use '@/styles/_variables' as *;

.footer {
  background-color: $color-footer-background;
  box-shadow: -2px 0px 8px 2px $color-shadow;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $color-text-primary;
  }
}
