.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 210px;
  }
}
