.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 210px;
  }
}

@media (max-width: 1279px) {
  .layout {
    &__main-container {
      padding: 0 48px;
    }
  }
}

@media (max-width: 767px) {
  .layout {
    &__main {
      padding: 16px;
    }

    &__main-container {
      padding: 0;
    }
  }
}
