@use '@/styles/variables' as *;

.text-input {
  display: inline-flex;
  align-items: center;

  &__field {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: rgba(0, 0, 0, 0.87);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Variants
  &_underlined {
    background-color: transparent;
    border-bottom: 1px solid #000;
  }

  &_bordered {
    width: 240px;
    height: 56px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    gap: 8px;
    border-radius: 8px;

    .text-input__field {
      font-size: 16px;
      font-weight: 400;

      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .text-input__icon {
      width: 24px;
      height: 24px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
