@use '@/styles/_variables' as *;

.text-input {
  display: inline-flex;
  align-items: center;

  &__field {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: var(--text-color);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Variants
  &_underlined {
    background-color: transparent;
    border-bottom: 1px solid var(--text-color);
  }

  &_bordered {
    width: 240px;
    height: 56px;
    padding: 0 16px;
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    gap: 8px;
    border-radius: 8px;

    .text-input__field {
      font-size: 16px;
      font-weight: 400;

      &::placeholder {
        color: var(--text-color-tertiary);
      }
    }

    .text-input__icon {
      width: 24px;
      height: 24px;
      color: var(--icon-color-secondary);
    }
  }
}
