.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1044px;
  width: 100%;
  margin: 0 auto;

  &__logo {
    width: 600px;
    height: 200px;
    margin-bottom: 16px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    transition: opacity 0.3s ease-in-out;

    & > ul {
      display: contents;
      list-style: none;
    }

    &_fetching {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  &__loader {
    grid-column: 1 / -1;
  }

  &__message {
    margin-top: 40px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  &__end-message {
    grid-column: 1 / -1;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
}
