@use '@/styles/_variables' as *;

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid $color-black-border;
  background-color: $white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &_dark {
    background-color: $color-black-bg;
    border-color: $white;

    .theme-switcher__icon {
      svg {
        path {
          fill: $white;
        }
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
}
