@use '@/styles/_variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.light {
  --background-color: #ffffff;
  --text-color: #212121;
  --card-background-color: #ffffff;
  --card-border-color: #e0e0e0;
  --input-background-color: #ffffff;
  --input-border-color: #e0e0e0;
  --logo-text-color: #212121;
  --header-background-color: #ffffff;
  --header-shadow-color: rgba(0, 0, 0, 0.1);
  --switcher-border-color: #393939;
  --switcher-background-color: #ffffff;
  --card-shadow-color: rgba(0, 0, 0, 0.25);
  --text-color-secondary: #3f3f3f;
  --text-color-tertiary: rgba(0, 0, 0, 0.6);
  --selector-hover-background-color: #f2f2f2;
  --character-image-border-color: #f2f2f7;
  --character-list-item-border-color: rgba(33, 33, 33, 0.08);
  --icon-color-secondary: rgba(0, 0, 0, 0.54);
}

.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --card-background-color: #151515;
  --card-border-color: #3c3e44;
  --input-background-color: #333333;
  --input-border-color: #ffffff;
  --logo-text-color: #ffffff;
  --header-background-color: #151515;
  --footer-background-color: #151515;
  --header-shadow-color: rgba(0, 0, 0, 0.3);
  --switcher-border-color: #ffffff;
  --switcher-background-color: #3c3c3c;
  --card-shadow-color: rgba(0, 0, 0, 0.5);
  --text-color-secondary: rgba(255, 255, 255, 0.87);
  --text-color-tertiary: rgba(255, 255, 255, 0.6);
  --selector-hover-background-color: rgba(255, 255, 255, 0.1);
  --character-image-border-color: #3c3e44;
  --character-list-item-border-color: rgba(255, 255, 255, 0.1);
  --icon-color-secondary: #cacaca;
}
